name: ci
on:
  push:
  pull_request:
jobs:
  go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.21'
      - name: Verify go.mod tidy
        run: |
          go mod tidy
          git diff --exit-code
      - name: Format check
        run: |
          go fmt ./...
          git diff --exit-code
      - name: Lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.59.1
      - name: Test
        env:
          SKIP_NETWORK_TESTS: "1"
        run: go test ./... -v


